/* External Imports */
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css";
@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap";

:root {
  --primary-color: #eec373;
  --off-white: #f4dfba;
  --dark-grey: #876445;
  --grey: #ca965c;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
}
