.badge-wrapper {
  position: relative;
  width: fit-content;
  box-sizing: border-box;
}

.status-badge-wrapper {
  position: absolute;
  bottom: 12%;
  right: 12%;
  border-radius: 50%;
  border: 2px solid white;
}

.badge-wrapper > .avatar-lg-size > .status-badge-wrapper {
  height: 1.25rem;
  width: 1.25rem;
}

.badge-wrapper > .avatar-md-size > .status-badge-wrapper {
  height: 1rem;
  width: 1rem;
}

.badge-wrapper > .avatar-sm-size > .status-badge-wrapper {
  height: 0.7rem;
  width: 0.7rem;
}

.status-available {
  background-color: var(--success-color);
}

.status-away {
  background-color: var(--grey);
}

.status-dnd {
  background-color: var(--danger-color);
}
