.form-element {
    margin-bottom: 2.75rem;
    width: 100%;
}

/*************** Text Field Styles ***************/

.input-wrapper {
    position: relative;
    border: 1.5px solid var(--primary-color);
    border-radius: var(--form-elements-border);
    width: 100%;
}

.input-wrapper .input-field {
    outline: none;
    background-color: transparent;
    border: none;
    padding: var(--padding-form-elements);
    font-size: 1rem;
    width: 100%;
}

.input-wrapper .label {
    position: absolute;
    cursor: text;
    top: -12px;
    left: 16px;
    background-color: var(--white);
    padding: 0px 8px;
    color: var(--primary-color)
}

.input-wrapper:focus-within {
    border-color: var(--primary-color-hover);
}

.input-wrapper:focus-within .label {
    color: var(--primary-color-hover);
}

.input-wrapper:focus-visible {
    outline: none;
}

/*************** Checkbox Styles ***************/

.checkbox {
    display: inline-flex;
    cursor: pointer;
    position: relative;
}

.checkbox>span {
    padding: 0.5rem 0.25rem;
}

.checkbox>input {
    height: 1.75rem;
    width: 1.75rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1.5px solid var(--primary-color);
    border-radius: 4px;
    outline: none;
    transition-duration: 0.3s;
    cursor: pointer;
}

.checkbox>input:checked+span::before {
    content: "\2713";
    display: block;
    text-align: center;
    color: var(--primary-color);
    position: absolute;
    left: 0.55rem;
    top: 0.5rem;
    font-weight: 600;
}

/*************** Radio Styles ***************/

.radio-button-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 2.5rem;
    cursor: pointer;
    font-size: 1rem;
    height: 1.75rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio-button-wrapper input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radio-button {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    border: 1.5px solid var(--primary-color);
}

.radio-button:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-button-wrapper input:checked~.radio-button:after {
    display: block;
}

.radio-button-wrapper .radio-button:after {
    top: 0.4rem;
    left: 0.35rem;
    width: 0.85rem;
    height: 0.85rem;
    border-radius: 50%;
    background: var(--primary-color);
}

/*************** Text Fields Form Validation ***************/

.form-error {
    border-color: var(--danger-color);
}

.form-error .label {
    color: var(--danger-color);
}

.error-message{
    color:var(--danger-color);
    font-size: 10px;
    position: absolute;
    cursor: text;
    bottom: -16px;
    left: 12px;
    display: none;
}

.form-error > .error-message{
    display: block; 
}