.grid-30-70-layout {
  display: grid;
  grid-template-columns: 30% 70%;
}
.grid-70-30-layout {
  display: grid;
  grid-template-columns: 70% 30%;
}

.grid-60-40-layout {
  display: grid;
  grid-template-columns: 60% 40%;
}

.grid-50-50-layout {
  display: grid;
  grid-template-columns: 50% 50%;
}

.grid-4-column-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
  width: 100%;
  max-width: 56.5rem;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .grid-4-column-layout {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 480px) {
  .grid-30-70-layout {
    grid-template-columns: 1fr;
  }

  .grid-70-30-layout {
    grid-template-columns: 1fr;
  }

  .grid-50-50-layout {
    grid-template-columns: 1fr;
  }

  .grid-60-40-layout {
    grid-template-columns: 1fr;
  }
}
