@import "https://fonts.googleapis.com/css2?family=Marck+Script&display=swap";

.navbar {
  min-height: 10vh;
  width: 100%;
  align-items: center;
  background-color: #fcfcfc;
  font-weight: 500;
  color: hsl(230, 22%, 20%);
  padding: 1.5rem 2.5rem;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-branding {
  font-weight: var(--font-bold);
  font-size: 2.5rem;
  color: var(--primary-color);
  font-family: "Marck Script", cursive;
}

.navbar-pills {
  font-weight: var(--font-semi-bold);
  cursor: pointer;
}

.navbar-pills:hover {
  color: var(--primary-color);
}

.navbar-pills-active {
  color: var(--primary-color);
  font-weight: var(--font-bold);
}

.navbar-icon {
  color: var(--secondary-color);
  font-size: 1.2rem;
}

#navbar-menu-mobile {
  display: none;
}

.navbar-sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--white);
  overflow-x: hidden;
  transition: 0.5s;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-bg);
}

.sidebar-header-title {
  font-weight: var(--font-bold);
  font-size: 2rem;
  color: var(--primary-color);
  font-family: "Marck Script", cursive;
}

.sidebar-menu-items:hover {
  background-color: var(--primary-bg);
}

@media screen and (max-width: 1024px) {
  .navbar {
    padding: 1rem;
  }

  #navbar-menu-mobile {
    display: block;
  }

  #navbar-menu-desktop {
    display: none;
  }
}
