.slider {
	height: 7px;
	border-radius: 5px;
	background: var(--primary-bg);
    border: 0.5px solid var(--primary-color-hover);
    -webkit-appearance: none;
}

.slider::-webkit-slider-thumb {
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	background: var(--primary-color);
    border: 1px solid var(--primary-color-hover);
    -webkit-appearance: none;
}

.slider:focus-visible{
    outline: none;
}