/*************** Style Ship General Styles ***************/

.promotional-content-wrapper {
  padding: 2rem 2.5rem;
}

.promotional-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.promotional-content-text {
  font-size: 1.75rem;
  line-height: 2rem;
}

.image-wrapper {
  box-sizing: border-box;
}

.code-snippet-display {
  box-sizing: border-box;
  width: 100%;
  max-height: 300px;
  padding: 1rem 0;
  background-color: #fafafa;
  margin: 2rem 0;
  border: 1px solid var(--primary-color);
  overflow: auto;
  border-radius: 0.3rem;
}

.code-snippet-display iframe {
  width: 100%;
  border: none;
}

.code-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/*************** Style Ship Doc Site Styles ***************/

.main-content {
  padding: 2rem 2.5rem 0rem 2rem;
}

.doc-site-page-layout {
  display: grid;
  grid-template-columns: 20% 80%;
}

.component-display-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  margin: 2rem 0;
  border: 1px solid var(--primary-color);
  align-items: center;
  border-radius: 0.3rem;
  width: 100%;
}

.component-display-wrapper > .btn-float {
  position: static;
}

/*************** Media Queries for Small Screens ***************/

@media screen and (max-width: 1024px) {
  .promotional-content {
    align-items: center;
    margin-top: calc(5 * var(--margin));
  }

  .promotional-content-heading {
    font-size: 1.5rem;
    margin-bottom: calc(5 * var(--margin));
  }

  .promotional-content-text {
    font-size: 1.125rem;
    line-height: 1.5rem;
    text-align: center;
    margin-bottom: calc(5 * var(--margin));
  }

  .action-buttons {
    margin-bottom: calc(5 * var(--margin));
  }

  .doc-site-page-layout {
    grid-template-columns: 1fr;
  }
  .main-content {
    padding: 1rem 2rem;
  }
}

/*************** Media Queries for Mobiles ***************/

@media screen and (max-width: 480px) {
  .image-wrapper {
    display: none;
  }
}
