.toast{
    width: fit-content;
    padding: 4px 16px;
    position: fixed;
    top:1rem;
    right: 1rem;
    background-color: white;
    border-radius: 0.25rem;
    display: none;
    z-index: 5;
}

.success {
	color: var(--success-color);
	background-color: var(--success-bg);
}

.info {
	color: var(--info-color);
	background-color: var(--info-bg);
}

.error {
	color: var(--danger-color);
	background-color: var(--danger-bg);
}

.warning {
	color: var(--warning-color);
	background-color: var(--warning-bg);
}