h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
  line-height: 1.125rem;
}

.big-text{
  font-size: 1.125rem;
}

.text-primary-color {
  color: var(--primary-color);
}

.text-disabled{
  color: var(--dark-grey);
}

.text-bold {
  font-weight: bold;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalise {
  text-transform: capitalize;
}

.text-cursor-pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.text-no-underline {
  text-decoration: none;
}

.link-no-style {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
