.box-shadow {
  box-shadow: var(--default-box-shadow);
}

.cursor-pointer {
  cursor: pointer;
}

.w-50{
  width: 50%;
}

.w-100{
  width: 100%;
}

.d-flex{
  display: flex;
}

.align-center{
  align-items: center;
}

.justify-content-center{
  justify-content: center;
}

.flex-row{
  flex-direction: row;
}

.flex-column{
  flex-direction: column;
}